<div class="container-fluid form-message">
        <button type="button" routerLink="/bulk-message" class="btn btn-outline-success">Switch Mode</button>

        <h5 class="card-header info-color white-text text-center py-4">
                <strong>Single Messaging</strong>
              </h5>
    <form [formGroup]="form" (ngSubmit)="submitForm()">
        <div class="form-group input-group-lg">
            <label for="textInput">Sender</label>
            <input type="number"  class="form-control mb-4" formControlName="sender_number" placeholder="Sender" />

            <label for="textInput">Receiver</label>
            <input type="number"  class="form-control mb-4" formControlName="receiver_number" placeholder="Receiver" />
        </div>

        <label for="textarea">Message</label>
        <textarea id="textarea" class="form-control mb-4" placeholder="Type message" formControlName="message"></textarea>

        <button class="btn green uppercase" type="submit">Send</button>
    </form>
</div>