<div class="container-fluid form-message">
    <form [formGroup]="form" (ngSubmit)="submitForm()">
        <div class="form-group input-group mb-4">
            <div class="custom-file input-group-prepend">
                <input type="file" class="custom-file-input" (change)="uploadFile($event)" id="fileInput"
                    aria-describedby="fileInput" />
                <label class="custom-file-label input-group-text" for="fileInput">Bulk upload</label>
            </div>
        </div>

        <div class="form-group input-group-lg">
            <label for="textInput">Sender</label>
            <input type="number"  class="form-control mb-4" formControlName="sender_number" placeholder="Sender" />

            <label for="textInput">Receiver</label>
            <input type="number"  class="form-control mb-4" formControlName="receiver_number" placeholder="Receiver" />
        </div>

        <label for="textarea">Message</label>
        <textarea id="textarea" class="form-control mb-4" placeholder="Type message" formControlName="message"></textarea>

        <button class="btn green uppercase" type="submit">Send</button>
    </form>
</div>