<div class="container-fluid form-message">
        <button type="button" routerLink="/" class="btn btn-outline-success">Switch Mode</button>

        <h5 class="card-header info-color white-text text-center py-4">
                <strong>Bulk Messaging</strong>
              </h5>
<form [formGroup]="form" (ngSubmit)="submitForm()">
        <div class="form-group input-group-lg">
        <label for="textInput">Sender</label>
        <input type="number"  class="form-control mb-4" formControlName="sender_number" placeholder="Sender" />
        <label for="textInput">Receiver</label>
        <input type="number"  class="form-control mb-4" formControlName="receiver_numbers" placeholder="Receiver" />
        <div class="form-group input-group mb-4">
                <div class="custom-file input-group-prepend">
                    <input type="file" class="custom-file-input" (change)="onFileChange($event)" id="fileInput"
                        aria-describedby="fileInput" />
                    <label class="custom-file-label input-group-text" for="fileInput">Bulk upload</label>
                </div>
            </div>
    </div>

    <label for="textarea">Message</label>
    <textarea id="textarea" class="form-control mb-4" placeholder="Type message" formControlName="message"></textarea>
    <h5>{{status}}</h5>
    <button class="btn green uppercase" type="submit">Send</button>
    <div >
        Message Sending to:
        <p *ngFor='let i of data'>{{i}}</p>
    </div>
</form>
</div>